@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Assignment 1</h1>
    <p>My name is Nguyen Gia Khanh Ho. Student ID: 040976302</p>
    <p>Thanks. Have a good day!</p>
</div>
